<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/css/postDetails.css" />
  </head>
  <body>
    <div class="post-details">
      <h1><%= post.title %> (<%= post.type %>)</h1>
      <p><strong>Description:</strong> <%= post.description %></p>
      <p><strong>Location:</strong> <%= post.location %></p>
      <p><strong>Contact:</strong> <%= post.contact %></p>
      <% if(post.photoUrl){ %>
      <img
        src="<%= post.photoUrl %>"
        alt="Post Image"
        style="
          max-width: 400px;
          display: block;
          margin: 10px auto;
          border-radius: 5px;
        "
      />
      <% } %>
      <p><strong>Date Posted:</strong> <%= post.datePosted.toDateString() %></p>
      <form action="/post/<%= post._id %>/delete" method="POST">
        <label>Enter your email to delete this post:</label>
        <input type="email" name="email" required />
        <button type="submit" class="delete-btn">Delete Post</button>
      </form>
      <a href="/">Back to Home</a>
    </div>
  </body>
</html>
